@font-face {
    font-family: 'Morion';
    src: url('Morion-Bold.eot');
    src: local('Morion Bold'), local('Morion-Bold'),
        url('Morion-Bold.eot?#iefix') format('embedded-opentype'),
        url('Morion-Bold.woff2') format('woff2'),
        url('Morion-Bold.woff') format('woff'),
        url('Morion-Bold.otf') format('otf'),
        url('Morion.otf') format('otf'),
        url('Morion-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {font-family: "Morion Bold"; src: url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.eot"); src: url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.woff") format("woff"), url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.svg#Morion Bold") format("svg"); }
@font-face {font-family: "Morion Beta"; src: url("//db.onlinewebfonts.com/t/7eb79191bd49525380a5d10cf0d41041.eot"); src: url("//db.onlinewebfonts.com/t/7eb79191bd49525380a5d10cf0d41041.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7eb79191bd49525380a5d10cf0d41041.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7eb79191bd49525380a5d10cf0d41041.woff") format("woff"), url("//db.onlinewebfonts.com/t/7eb79191bd49525380a5d10cf0d41041.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7eb79191bd49525380a5d10cf0d41041.svg#Morion Beta") format("svg"); }