.container {
  width: 85%;
  height: 100vh;
  margin-top: 2%;
  position: relative;
  padding-left: 5%;
  overflow: scroll;
  background-color: white;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.6);
}

@media (max-width: 820px) {
  .container svg {
    padding-left: 0%;
  }
  .container {
    width: 95%;
  }
}

.container svg {
  display: block;
  width: inherit;
  height: 100%;
  overflow: visible;
  padding-bottom: 10%;
}

@media (min-width: 820px) {
  .container svg {
    padding-left: 10%;
  }
}

.male {
  fill: rgb(22, 130, 218);
}

.female {
  fill: rgb(0, 71, 129);
}

.node text {
  font: 12px sans-serif;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 140px;
  padding: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0;
  border-radius: 4px;
  pointer-events: none;
}